# Prediction using Supervised ML
##            (Level - Beginner)

## Importing the Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split   
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

## Collecting The Information about the Dataset

In [2]:
data = pd.read_csv("StudentsResult.csv")

In [3]:
data.head()

   Hours_Studied  Scores
0            2.5      21
1            5.1      25
2            7.7      85
3            5.9      62
4            4.5      41

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Hours_Studied  17 non-null     float64
 1   Scores         17 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 400.0 bytes

In [5]:
data.describe()

       Hours_Studied     Scores
count      17.000000  17.000000
mean        4.876471  50.529412
std         2.354657  25.529683
min         1.100000  17.000000
25%         2.700000  30.000000
50%         4.800000  42.000000
75%         6.900000  69.000000
max         8.900000  95.000000

In [6]:
data.shape

(17, 2)

## Preparation of the given Data

In [7]:
X = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

## Splitting and Training the Data

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
from sklearn.linear_model import LinearRegression
classifier = LinearRegression()
classifier.fit(X_train, y_train)

y_pred = classifier.predict(X_test)

## Making the Predictions

In [9]:
data1 = pd.DataFrame({'Actual' : y_test , 'Predicted': y_pred})
data1

   Actual  Predicted
0      25  53.667315
1      17  10.117378
2      30  25.359856
3      24  18.827365

In [10]:
Hours_Studied = np.array(9.25)
Hours_Studied = Hours_Studied.reshape(-1,1)
pred = classifier.predict(Hours_Studied)
print("Hours_Studied = {}".format(Hours_Studied))
print("Predicted Score = {}".format(pred[0]))

Hours_Studied = [[9.25]]
Predicted Score = 98.85037467109024